#map {
    height: 35vh;
    width: 35vw;
    margin:0 auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#tabdata {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 50%;
}

#yelp_table {
    font-size: 150%;    
}

iframe {
    margin:0 auto;
    display:block;
    margin-top: 40px;
}

th {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
}

td {

}

#search_term{
    text-align: center;
}