h1 {
    font-family: 'Qwigley', cursive;
    font-size: 150px;
}

body {
    text-align: center;
    background-image: url("Travel1.jpeg");
    font-weight: bold;
    font-size: 25px;
}

label {
    background-color: rgb(51, 102, 255, 0.8);
    color: white;
    text-shadow: 2px 2px black;
    width: 25%;
    border: dashed 3px;
    border-color: black;
    border-radius: 25px;
}

#input_box {
    height: 30px;
    margin: 10px;
    text-align: center;
}

#optional_state {
    color: rgba(255, 255, 255, 0.685);
    font-size: 15px;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    text-shadow: 2px 2px black;
}

#submit_button {
    font-weight: bold;
}