<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>
    
    <!-- webpage title -->
    <title>Mapbox Test</title>

    <!-- this style tag modifies the overall map element. margin:0 auto aligns the map in the center -->
    <style>
        #map {
            height: 50vh;
            width: 50vw;
            margin:0 auto;
        }
    </style>
    
    <!--- imports the mapbox SDK script -->
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    
</head>
<body>
    <!--- places the map on the page -->
    <div id='map'></div>

    <!-- imports mapbox_script.js -->
    <script src="{{url_for('static', filename='mapbox_script.js')}}"></script>
    
    <script>loadData( {{ city|tojson}}, {{ state|tojson }}, {{ country|tojson }} )</script>
    <!-- although this code appears to be erroring, the program functions as intended. This line
    calls on the function loadData in mapbox_script and uses the user input as the arguments
    to create the map  -->

    <!-- creates a table for yelp data to be put into -->
    <table class="table table-bordered"  id="tabdata" style="margin-top: 90px" >
   
        <tr id="yelp_table">
            <th>Save?</th>
            <th>Business Name</th>
            <th>Rating</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
        </tr>
        <!-- handles creating a loop to put all data into the table-->
         {% for name, rating, address, city, telephone in yelpID %}

        <tr>
            <td><form method="POST" action="get_map">
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="rating" value="{{rating}}">
                <input type="hidden" name="address" value="{{address}}">
                <input type="hidden" name="city" value="{{city}}">
                <input type="hidden" name="telephone" value="{{telephone}}">
                <button type="submit">+</button>
            </form></td>
            <th> {{ name }} </th>
            <td> {{ rating }} </td>
            <td> {{ address }} </td>
            <td> {{ city }} </td>
            <td> {{ telephone }} </td>
        </tr>

    {% endfor %}
    </table>

    <!-- Places a youtube video on the page -->
    <iframe width="420" height="315" id="video"></iframe>

    <!-- script that puts together the youtube link and gives the iframe its video source -->
    <script>
        let youTubeBaseLink = "https://www.youtube.com/embed/"
        let youtubeVideoLink = youTubeBaseLink + {{videoID|tojson}}
        console.log(youtubeVideoLink)
        let pageVideo = document.getElementById('video')
        pageVideo.setAttribute("src",youtubeVideoLink)
    
    </script>

</body>
</html>
